[submodule "lingalafacile-client"]
	path = lingalafacile-client
	url = git@github.com:kjunias/lingalafacile-client.git
[submodule "lingalafacile-server"]
	path = lingalafacile-server
	url = git@github.com:kjunias/lingalafacile-server.git
