[submodule "lingalafacile-client"]
	path = lingalafacile-client
	url = git@github.com:kjunias/lingalafacile-client.git
[submodule "lingalafacile-translate-service"]
	path = lingalafacile-translate-service
	url = git@github.com:kjunias/lingalafacile-translate-service.git
